.butao{

    width: flex;
    height: flex;
    border: 8px;
    margin: 10px;
    align-content: center;
    color: black;
    background-color: white;
    padding: 16px 32px;
    border: navy;
    cursor: pointer;
    border-radius: 8px;
    margin: 2px;
}

.mostrar{

    width: flex;
    height: flex;
    color: white;
    background-color: var(--cor-primaria-escura);
    border: 8px;
    margin: 10px;
}